header {
    .rightside {
        height: 103px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    @extend .spacing--gutter;

    @include media($screen-xl) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    padding-bottom: 0 !important;
}

.no-header-image {
    header {
        
    }
}