header {
    .rightside {
        height: 103px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.no-header-image {
    header {
        padding-bottom: 0;
    }
}