nav {
    border-top: 3px solid;
    padding-top: .5em;

    &.main-navigation {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                margin: 0;
                padding: 0;
                padding-right: $base-font-size;
            }
        }
    }
}