nav {
    border-top: 3px solid;

    &.main-navigation {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                margin: 0;
                flex-grow: 1;

                a {
                    display: block;
                    padding: .5em .75em;

                    @include media($max-lg) {
                        font-size: .9em;
                    }


                    @include media($max-md) {
                        font-size: .75em;
                        padding: .4em .7em;
                    }


                    display: inline-block;
                    transition: background 0.2s $base-cubic;

                    &:hover {
                        background: transparentize($white, 0.6);
                        transition: background 0.2s $base-cubic;
                    }
                }

                &.current-menu-item {
                    a {
                        background: $white;
                    }
                }

                &.current-menu-item {
                    a {
                        background: $white;

                        &:hover {
                            background: $white;
                        }
                    }
                }
            }
        }
    }
}