.hdr-logo-link {
    display: inline-block;
    -webkit-tap-highlight-color: transparent;

    .icon-logo {
        display: inline-block;

        svg {
            transition: opacity 0.2 $base-cubic;
            width: 100%;
        }
    }

    height: 78px;
    width: 95px;

    .icon-logo {
        height: 78px;
        width: 95px;
    }

    @include media($screen-xs) {}


    @include media($screen-sm) {}


    @include media($screen-md) {}


    @include media($screen-lg) {
        height: 103px;
        width: 125px;

        .icon-logo {
            height: 103px;
            width: 125px;
        }
    }


    @include media($screen-xl) {}


    @include media($max-sm) {
        h1.logo {
            line-height: 0;
        }

        height: 70px;
        width: 85px;
        margin-top: 10px;
        margin-bottom: 10px;

        .icon-logo {
            height: 70px;
            width: 85px;
        }
    }
}

.icon-tri-plus {
    width: 45px;
    height: 45px;
    display: inline-block;

    svg {
        width: 100%;
    }

    &.flip {
        transform: rotate(90deg);
    }
}