.section--home-header {
    @include media($max-sm) {
        .block--text {
            text-align: left !important;
        }
    }


    overflow: hidden;

    .icon-map {
        @include media($max-sm) {
            position: relative;
            display: block;
            width: 128vw;
            left: -20vw;
            top: -5.5em;
            margin-bottom: -8.5em;

            svg {
                text {
                    &:nth-of-type(4), &:nth-of-type(5) {
                        display: none;
                    }
                }
            }
        }


        display: inline-block;
        min-height: 35vw;
        width: 100%;
    }
}