.section--search-modal.popup {
    z-index: -10;
    opacity: 0;
    transition: opacity 0.2s $base-cubic;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    .close {
        position: absolute;
        right: 1em;
        background: $black;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        text-align: center;
        line-height: 1.2;

        a {
            color: $white;
        }
    }

  
}
  form.search-form {
        // transition: background 0.2s $base-cubic;
        // display: inline-block;
        // background: transparent;
        display: flex;

        button, input[type="search"] {
            flex-grow: 1;
            padding: 8px 10px;
        }

        button {
            border-left: 0;
            max-width: 150px;
            margin-left: -1px;
            font-size: 0.8em;
            letter-spacing: 1px;
        }

        input[type="search"] {
            // width: 0;
            // background: transparent;
            // border: none;
            // padding: 0px 0px 0 8px;
            // transition: width 0.2s $base-cubic;
            // font-size: 1.2rem;
            // top: -3px;
            // color: $black;

            &::-webkit-input-placeholder {
                color: $black;
            }

            &:-moz-placeholder {
                /* Firefox 18- */
                color: $black;
            }

            &::-moz-placeholder {
                /* Firefox 19+ */
                color: $black;
            }

            &:-ms-input-placeholder {
                color: $black;
            }
        }
    }
body {
    &:before {
        content: ' ';
        background: transparentize($black, 0.4);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        z-index: -10;
        display: block;
        transition: opacity 0.2s $base-cubic;
        opacity: 0;
    }

    &.search-open {
        &:before {
            transition: opacity 0.2s $base-cubic;
            opacity: 1;
            z-index: 999;
        }

        .section--search-modal {
            &.popup{
            z-index: 9999;
            opacity: 1;
            transition: opacity 0.2s $base-cubic;
        }
        }

        form.search-form {
            // background: $white;
            // transition: background 0.2s $base-cubic;

            input[type="search"] {
                // width: 160px;
                // transition: width 0.2s $base-cubic, background 0.2s $base-cubic;
           
            }
        }
    }
}