.section--home-header {
    .block--text {
        position: relative;
        z-index: 99;

        .font--large {
            @include media($max-lg) {
                font-size: 1em;
            }


            @include media($max-md) {
                font-size: 0.9em;
            }


            @include media($max-sm) {}


            @include media($max-xs) {}
        }
    }

    @include media($max-sm) {
        .block--text {
            text-align: left !important;
        }
    }


    overflow: hidden;

    .icon-map {
        z-index: 1;
        position: relative;

        @include media($max-sm) {
            position: relative;
            display: block;
            width: 112vw;
            left: -15vw;
            top: -6.5em;
            margin-bottom: -8.2em;

            svg {
                g {
                    &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
                        display: none;
                    }
                }
            }
        }


        display: inline-block;
        min-height: 35vw;
        width: 100%;
    }
}