<section class="section--search-modal hidden--mob grid--three-fourths grid--sm-half bg--blue spacing--vert-1 spacing--horiz-1">
	<label class="close"><a class="toggle-search" id="toggleSearch"><span>+</span></a></label>
	<h2 class="mar--no">Search</h2>
	<hr>
	{{options.search.form}}
</section>