<section class="section--search-modal hidden--mob gr bg--blue spacing--vert-1 spacing--horiz-1 {% if visible == true %}visible{% else %}popup grid--three-fourths grid--sm-half{% endif %}">
{% if visible == true %}{% else %}<label class="close"><a class="toggle-search" id="toggleSearch"><span>+</span></a></label>{% endif %}
<h3 class="h2">Search</h3>
{{options.search.form}}
</section>